body {
    margin: 15px 3rem;
    font-size: 1.3em;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 45%;
}

#weapons {
    margin: 30px 0;
}

